@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');

#navbar {
	font-family: 'Open Sans';

	
	display: inline;
	list-style-type: none;
	height: 100%;
	width: 25%;
	margin: 0;
	padding: 0;

	display: flex;
	align-items: center;
	justify-content: space-evenly;

	li {
		// This is Login and register stuff
		float: left;
		color: white;
		font-size: 2em;
	}

	.ignore {
		cursor: context-menu;
	}

	.selectable {
		cursor: pointer;
		
		&::after {
			content: '';
			width: 0px;
			height: 1px;
			display: block;
			background: white;
			transition: 300ms;
		}

		&:hover::after {
			width: 100%;
		}
	}

	#nav__account {

		display: flex;
		flex-direction: column;
		width: inherit;

		#nav__account__dropdown {
			top: 70px;
			height: 0px;

			position: absolute;
			overflow-y: hidden;
  			background: rgba(.1, .1, .1, .7);

			transition: height 2s;
		}

		&:hover #nav__account__dropdown {
			height: 105px;
		}

		ul {
			list-style-type: none;
			display: flex;
			flex-direction: column;
			margin: 0;
			padding: 10px;

			li {
				padding: 0;
				margin: 0;
				font-size: inherit;
			}
		}
	}
}