#navbar {
	display: inline;
	list-style-type: none;
	height: 100%;
	width: 25%;
	margin: 0;
	padding: 0;

	display: flex;
	align-items: center;
	justify-content: space-evenly;

	li {
		// This is Login and register stuff
		float: left;
		color: white;
		font-size: 2em;
		cursor: pointer;
	}

	#nav__account {

		display: flex;
		flex-direction: column;

		#nav__account__dropdown {
			height: 0%;
			overflow: hidden;
		}

		:hover #nav__account__dropdown {
			height: 100%;
		}
	}
}