@import url('https://fonts.googleapis.com/css?family=Piazzolla:300,300i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,700,700i');

#title-box {

	width: 50%;

	text-align: center;
	margin: auto 0 auto 0;

	h1, h2, h3, p {
		padding: 0;
		margin: 0;

		color: rgb(240, 240, 240);
	}

	#title {
		font-size: 3em;
		font-family: 'Montserrat';
	}

	#subtitle {
		font-family: 'Piazzolla';
	}
}