#body-container {
	height: 90%;

	display: flex;
	align-items: center;
	justify-content: center;

	#body {

		width: 60%;
		height: 90%;

		border-radius: 25px;
		background-color: rgba(.1, .1, .1, .25);
		backdrop-filter: blur(10px);
		box-shadow: 10px 10px rgba(.1, .1, .1, .1);

		display: flex;
		align-items: center;
		flex-direction: column;
		
		h1, h2, h3, p, li {
			color: white;
		}

		hr {
			width: 90%;
		}

		#body__text {
			width: calc(100% - 100px);
			margin: 20px 100px 20px 100px;
		}
	}
}